<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fineos.theme"
    android:versionCode="4001"
    android:versionName="4.0.0.1_2015.11.26_release" >

    <!-- read permission for ThemeProvider -->
    <permission
        android:name="com.fineos.thememgr.permission.READ_SETTINGS"
        android:description="@string/permdesc_read_settings"
        android:label="@string/permlab_read_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <!-- write permission for ThemeProvider -->
    <permission
        android:name="com.fineos.thememgr.permission.WRITE_SETTINGS"
        android:description="@string/permdesc_write_settings"
        android:label="@string/permlab_write_settings"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

	<uses-permission android:name="android.permission.READ_OWNER_DATA" />
	<uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_THEME_SERVICE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_COMPONENT" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>  
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/> 
    
    
    
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.mephone.fonts.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.mephone.fonts.permission.ACCESS_DOWNLOAD_MANAGER_ADVANCED" />
    <uses-permission android:name="com.mephone.fonts.permission.SEND_DOWNLOAD_COMPLETED_INTENTS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <!-- 友盟推送必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />  
<uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES"/>
    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    
    <!-- for google billing -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
     
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23" />
    
    <application
        android:name="com.fineos.theme.baidusdk.ThemeApplication"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/new_app_name" >

        <!-- 您从百度网站获取的APP KEY -->    
        <activity
            android:name="com.fineos.theme.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/new_app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:theme="@style/Theme_new_ui" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.fineos.theme.activity.ThemeOnlineHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
            <intent-filter>
                <action android:name="com.fineos.theme.online.theme" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeLocalHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme">
            <meta-data
                android:name="enable_online"
                android:value="true" />
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenLayout|uiMode|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
            <intent-filter>
                <action android:name="com.fineos.theme.action.THEMEDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeMixerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeMixerBaseFragmentActivity"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeIconActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme">

            <!-- @com.fineos:style/Theme.Holo.Light.FineOS -->
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeLockScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeDynamicWallpaper"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.LiveWallpaperPreview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:theme="@style/Preview" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailLockscreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailNewLockscreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:theme="@style/Theme_new_ui" >
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailDynamicWallpaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailNewDynamicWallpaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:theme="@style/Theme_new_ui" >
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeLockWallpaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeWallpaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:label="@string/local_wallpaper"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
	    <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeOLWallpaperActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
            <intent-filter>
                <action android:name="com.fineos.theme.action.WALLPAPER" />
                <action android:name="com.fineos.theme.online.wallpaper" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailWallpaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:taskAffinity="com.fineos.theme" >
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailNewWallpaperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:taskAffinity="com.fineos.theme"
            android:theme="@style/Theme_new_ui" >
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeFontActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme">
        </activity>
        <activity
            android:name="com.fineos.theme.activity.ThemeDetailFontsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:exported="true" >
        </activity>
        <activity
            android:name="com.fineos.theme.activity.TabWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme"
            android:exported="true">
        </activity>
        
        <activity
            android:name="com.fineos.theme.activity.ThemeRingtoneActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme" >
        </activity>

        <receiver android:name=".download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <!-- themeProvider -->
        <provider
            android:name="com.fineos.theme.provider.ThemeContentProvider"
            android:authorities="com.fineos.thememgr.Settings;com.fineos.theme;com.fineos.theme.backup"
            android:exported="true"
            android:multiprocess="true"
            android:readPermission="com.fineos.thememgr.permission.READ_SETTINGS"
            android:writePermission="com.fineos.thememgr.permission.WRITE_SETTINGS" />
        
  <!--       <provider
            android:name="com.fineos.theme.provider.IconContentProvider"
            android:authorities="com.fineos.thememgr.Settings;com.fineos.theme;com.fineos.theme.backup"
            android:exported="true"
            android:multiprocess="true"
            android:readPermission="com.fineos.thememgr.permission.READ_SETTINGS"
            android:writePermission="com.fineos.thememgr.permission.WRITE_SETTINGS" />
 -->
        <!-- 一键换装 -->
        <activity
            android:name="com.fineos.theme.activity.OneKeyFaceLiftActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:icon="@drawable/ic_themeset"
            android:label="@string/onekey_app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.fineos.theme.activity.OneKeyFaceLiftActivity"
            android:theme="@style/Theme.Holo.Wallpaper.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name=".ThridFontsReceiver">
            <intent-filter>
                <action android:name="com.fineos.thridfonts.apply" />
            </intent-filter>
        </receiver>
        <!-- 广点通添加 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
        </activity>
<!-- 友盟版本更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 友盟push监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.fineos.theme.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service
            android:name="com.umeng.message.UmengService"
			android:label="PushService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.fineos.theme.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.fineos.theme.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
				<category android:name="umeng" />
            </intent-filter>
        </service>

        <service android:name="com.umeng.message.UmengIntentService" 
			android:process=":push" />
			
		<service 
			android:name="com.umeng.message.UmengMessageIntentReceiverService"
			android:process=":push" 
			android:exported="true" >
			<intent-filter>
				<action android:name="org.android.agoo.client.MessageReceiverService" />
			</intent-filter>
			<intent-filter>
				<action android:name="org.android.agoo.client.ElectionReceiverService" />
			</intent-filter>
		</service>
		
		<service android:name="com.umeng.message.UmengMessageCallbackHandlerService" 
		    android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>
    </application>

</manifest>
